                * {
                    margin: 0;
                    padding: 0;
                }
                
                @font-face {
                    font-family: "Candy";
                    src: url(../css/BamsHand.ttf)
                }
                
                html {
                    scroll-behavior: smooth;
                    scroll-margin-bottom: 80px;
                }
                
                body {
                    font-family: 'Open Sans', sans-serif;
                    background-color: rgb(49, 49, 49);
                }
                
                .tamanhoTopo {
                    height: 100vh;
                }
                
                .titulo1 {
                    font-size: 70px;
                    font-family: 'Roboto Slab', serif;
                    color: white;
                    text-shadow: 2px 2px rgb(53, 81, 172);
                    letter-spacing: 2px;
                }
                
                .div1 {
                    background: url(../imagens/Bolo1.jpg) no-repeat center;
                    background-color: rgb(27, 27, 27);
                    background-size: cover;
                    height: 100vh;
                }
                
                .div2 {
                    height: 100vh;
                }
                
                .div3 {
                    background-color: rgba(39, 39, 39, 0.7);
                    z-index: 20;
                }
                
                .div3 li a {
                    font-size: 12px;
                }
                
                .div3 h4 {
                    font-size: 26px;
                    font-family: "Candy";
                }
                
                .div4 {
                    padding-top: 35px;
                }
                
                .cardimagem1 {
                    background: url(../imagens/bolo-cenoura.png) no-repeat center;
                    background-size: cover;
                    height: 120px;
                    border-radius: 20px;
                }
                
                .cardimagem2 {
                    background: url(../imagens/bolo-chocolate.png) no-repeat center;
                    background-size: cover;
                    height: 120px;
                    border-radius: 20px;
                }
                
                .cardimagem3 {
                    background: url(../imagens/bolo-laranja.png) no-repeat center;
                    background-size: cover;
                    height: 120px;
                    border-radius: 20px;
                }
                
                .cardimagem4 {
                    background: url(../imagens/bolo-limao.png) no-repeat center;
                    background-size: cover;
                    height: 120px;
                    border-radius: 20px;
                }
                
                .cardimagem5 {
                    background: url(../imagens/bolo-formigueiro.png) no-repeat center;
                    background-size: cover;
                    height: 120px;
                    border-radius: 20px;
                }
                
                .cardtexto {
                    height: 200px;
                    border-radius: 20px;
                    margin-top: 5px;
                }
                
                .div5 {
                    height: 25em;
                }
                
                .zoom {
                    overflow: hidden;
                }
                
                .zoom {
                    max-width: 100%;
                    -moz-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                }
                
                .zoom:hover {
                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
                
                .recomendacoes {
                    height: 350px;
                    padding: 30px;
                }
                
                .rodape {
                    background-color: rgb(24, 24, 24);
                    color: white;
                    height: 200px;
                }
                
                .divrecomendacoes {
                    height: 200px;
                }
                
                .carregando {
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100vw;
                    height: 100vh;
                    background: black url(../imagens/carregando.gif) no-repeat center;
                    background-size: 20%;
                }
                
                @media (max-width: 992px) {
                    li a {
                        font-size: 11px;
                    }
                    .recomendacoes {
                        height: 900px;
                    }
                    .divrecomendacoes {
                        height: 250px;
                    }
                    .titulo1 {
                        font-size: 45px;
                        text-align: center;
                    }
                    .div4 {
                        text-align: center;
                    }
                    .carregando {
                        background-size: 60%;
                    }
                }
                
                @media (max-width: 768px) {
                    .div5 {
                        height: 50em;
                    }
                    .margemcontato {
                        margin-top: 80px;
                    }
                    .menudrop a {
                        font-size: 18px;
                        line-height: 35px;
                    }
                    .cardtexto a {
                        width: 60%;
                        height: 35px;
                    }
                }
                
                .linkme {
                    cursor: pointer;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .imaarques {
                    width: auto;
                    padding-top: 10px;
                    height: 4em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .desenvolvidopor {
                    text-align: center;
                    margin: 0 auto;
                    letter-spacing: 1px;
                    font-size: 11px;
                    margin-right: 10px;
                    color: white;
                }
                
                .reco2 {
                    background-color: rgb(14, 13, 13);
                    border-radius: 10px 30px 10px 30px;
                }
                
                .card2 {
                    background-color: rgb(24, 24, 24);
                    padding: 20px;
                    border-radius: 20px;
                }
                
                [data-anime] {
                    opacity: 0;
                    -moz-transition: .8s;
                    -webkit-transition: .8s;
                    transition: .8s;
                }
                
                [data-anime="baixo"] {
                    -moz-transform: translate3d(0, 100px, 0);
                    -webkit-transform: translate3d(0, 100px, 0);
                    transform: translate3d(0, 100px, 0);
                }
                
                [data-anime="baixo2"] {
                    -moz-transform: translate3d(0, 100px, 0);
                    -webkit-transform: translate3d(0, 100px, 0);
                    transform: translate3d(0, 100px, 0);
                }
                
                [data-anime="baixo3"] {
                    -moz-transform: translate3d(0, 100px, 0);
                    -webkit-transform: translate3d(0, 100px, 0);
                    transform: translate3d(0, 100px, 0);
                }
                
                [data-anime="esquerda2"] {
                    -moz-transform: translate3d(-100px, 0, 0);
                    -webkit-transform: translate3d(-100px, 0, 0);
                    transform: translate3d(-100px, 0, 0);
                }
                
                [data-anime="esquerda3"] {
                    -moz-transform: translate3d(-100px, 0, 0);
                    -webkit-transform: translate3d(-100px, 0, 0);
                    transform: translate3d(-100px, 0, 0);
                }
                
                [data-anime="esquerda4"] {
                    -moz-transform: translate3d(-100px, 0, 0);
                    -webkit-transform: translate3d(-100px, 0, 0);
                    transform: translate3d(-100px, 0, 0);
                }
                
                [data-anime].animacao {
                    opacity: 1;
                    -moz-transform: translate3d(0px, 0px, 0px);
                    -webkit-transform: translate3d(0px, 0px, 0px);
                    transform: translate3d(0px, 0px, 0px);
                }
                
                @keyframes pisca {
                    0%,
                    100% {
                        opacity: 1;
                    }
                    50% {
                        opacity: 0;
                    }
                }
                
                .nav li:hover {
                    border-bottom: 2px solid white;
                }
                
                .corpo {
                    display: none;
                }
                
                .textowriter {
                    display: none;
                }
                
                .botao {
                    width: 240px;
                    height: 50px;
                }
                
                .botao1 {
                    width: 200px;
                    height: 40px;
                    background: rgb(53, 81, 172);
                    position: absolute;
                    bottom: 1px;
                    left: 25px;
                    border-radius: 25px;
                }
                
                .botao2 {
                    width: 200px;
                    height: 40px;
                    border: 2px solid white;
                    position: relative;
                    z-index: 10;
                    top: 0px;
                    left: 0px;
                    border-radius: 25px;
                }
                
                .botaoprev {
                    position: absolute;
                    top: 60%;
                    z-index: 50;
                }
                
                .botaoprev1 {
                    position: absolute;
                    left: 10px;
                }
                
                .botaoprev2 {
                    position: absolute;
                    right: 10px;
                }